@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-left {
  animation: slideInRight 0.3s ease-out forwards;
}

.animate-slide-right {
  animation: slideInLeft 0.3s ease-out forwards;
}
